.cruiseDetails {
  display: flex;
  height: 200vh;
  gap: 3rem;
  position: relative;
  padding: 3rem;
}

.leftSide {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 80px);
  flex: 3;
}

.mainImg {
  width: fit-content;
  height: 400px;
  margin: auto;
}

.mainImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.moreImg {
  display: flex;
  width: 200px;
  margin-top: 1rem;
  gap: 2rem;
  justify-content: center;
}

.moreImg img {
  width: 100%;
}

.details_map {
  width: 100%;
  margin: auto;
}

.rightSide {
  flex: 1;
  margin-top: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: calc(100vh - 90px);
  position: sticky;
  position: -webkit-sticky;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  top: 1rem;
}

.cruiseInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.cruiseInfo span {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(74, 74, 74);
}

.cruiseInfo h1 {
  font-size: 4rem;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--primary-color);
}

.details-rating {
  font-size: 2rem !important;
}

.cruise-description {
  text-align: center;
  font-size: 18px;
  color: rgb(74, 74, 74);
  font-weight: 500;
}

.cruise-highlights {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.cruise-highlights h1 {
  font-size: 2rem;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--primary-color);
  padding-bottom: 2px;
  border-bottom: 2px solid var(--primary-color);
}

.cruise-highlights h2 {
  font-size: 2rem;
  color: rgb(74, 74, 74);
}

@media screen and (max-width: 768px) {
  .cruiseDetails {
    flex-direction: column;
    height: 100%;
  }

  .rightSide {
    position: static;
  }

  .moreImg {
    flex-direction: column;
  }
}
