.contact-hero-container{
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #1d3557;
}

.contact-hero-container::after{
  content: "";
  background-image: url(../../../src/assets/contactpagehero.jpg);
  background-size: cover;
  position: absolute;
  inset: 0;
  opacity: 0.3;
}

.contact-hero-inner{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 3rem;
  grid-template-areas: 
  "social form form form"
  "map form form form";
  z-index: 9;
}

.social{
  grid-area: social;
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 20px;
}

.social-box{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  width: 100%;
  align-items: center;
  
}

.social h3{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #e63946;
  width: 100%;
  display: inline-block;
  margin-bottom: 2rem;
  white-space: nowrap;
}

.contact-social-box{
  display: flex;
  gap: 2rem;
  place-self: center;
}

.contact-social-info span{
  font-size: 1.5rem;
  text-transform: uppercase;
}

.contact-social-info i{
  background-color: #e63946;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 50px;
  margin-right: 0.5rem;
}

.contact-social-box i{
  font-size: 2rem;
  background-color: #e63946;
  color: white;
  border-radius: 50px;
  padding: 1rem;
  transition: 0.4s;
  cursor: pointer;
  transform: translateY(30%);
}

.contact-social-box i:hover{
  transform: translateY(-3px);
  
}



.contact-social-info{
  margin-bottom: 1rem;
}
.map{
  grid-area: map;
  background-color: white;
  padding: 4rem;
}

.form{
  grid-area: form;
  background-color: white;
  padding: 4rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form label{
  font-size: 1.2rem;
  color: #e63946;
  margin-bottom: 0.5rem;
}

.form form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.form input{
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
}

.form textarea{
  width: 100%;
  resize: none;
  margin-bottom: 0;
}

.form button{
  background-color: #e63946;
  border: none;
  padding: 0.5rem 0;
  color: white;
  border-radius: 20px;
}

.form-hours{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: span 2;
}

.form-hours div{
  text-align: center;
}

.form-hours h3{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #e63946;
}

.form-hours p {
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.form div{
  display: flex;
  flex-direction: column;
  width: 100%;
}










