.contact-hero-container{
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #1d3557;
}

.contact-hero-container::before{
  content: "";
  background-image: url(../../../src/assets/contactpagehero.jpg);
  background-size: cover;
  position: absolute;
  inset: 0;
  opacity: 0.2;
}

.contact-hero-inner{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 3rem;
  grid-template-areas: 
  "social form form form"
  "map form form form";
  z-index: 9;
}

.social{
  grid-area: social;
  background-color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  border-radius: 20px;

}

.social h3{
  font-size: 2rem;
  text-transform: uppercase;
  height: 100%;
  transform: translateY(-100%);
  color: #e63946;
}

.contact-social-box{
  display: flex;
  gap: 2rem;
  transform: translateY(100%);
}

.contact-social-box i{
  font-size: 2rem;
  background-color: #e63946;
  color: white;
  border-radius: 50px;
  padding: 0.5rem;
  transition: 0.4s;
  cursor: pointer;
}

.contact-social-box i:hover{
  transform: translateY(-5px);
  
}

.contact-social-info i{
  color: #1d3557;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.contact-social-info{
  margin-bottom: 1rem;
  color: #1d3557;
}
.map{
  grid-area: map;
  background-color: white;
  padding: 4rem;
}

.form{
  grid-area: form;
  background-color: white;
  padding: 4rem;
}


.social span {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}



