.mtt-container{
  padding: 5rem;
  text-align: center;
}

.mtt-container h1{
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #f1faee;
  background-color: #e63946;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 20px 5px;
  z-index: -999;
}


.mtt-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.team-box {
  text-align: center;
}

.team-box img{
  border-radius: 50%;
  margin-bottom: 1rem;
  max-width: 180px;
  max-width: 180px;
  aspect-ratio: 1;
  object-fit: cover;
}

.team-box h2{
  font-size: 2rem;
  color: #e63946;
}

.team-box h3{
  color: #1d3557;
}

@media only screen and (max-width: 800px){
  .mtt-flex{
    gap: 3rem
  }
}