.bottom-hero--container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1faee;
  padding: 1.5rem;
}

.bottom-hero--inner{
  display: flex;
}

.bottom-hero--text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1d3557;
}

.bottom-hero--text p:nth-child(1){
  font-weight: 600;
  font-size: 1.2rem;
}

.bottom-hero--text p:nth-child(2){
  font-size: 1rem;
}


.bottom-hero--inner i {
  font-size: 3rem;
  margin-right: 1rem;
  color: #e63946;
}

@media only screen and (max-width: 700px){
  .bottom-hero--container{
    flex-direction: column;
    align-items: center;
  }

  .bottom-hero--text{
    flex-direction: row;
    align-items: flex-end;
    gap:0.5rem;
  }

  .bottom-hero--inner{
    padding: 2rem 0;
    box-shadow: 0px 35px 2px -34px rgba(0,0,0,0.84);
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  



  .bottom-hero--inner i {
    font-size: 3rem;
    margin-right: 1rem;
    color: #e63946;
  }

 
}