.nav-container{
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: #f1faee;
}

.mobile-icon{
  display: none;
}

.mobile-btn-container{
  display: none;
}

.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2;


  /* gap: 5rem; */
}

.nav-menu ul{
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.nav-link.active{
  color: #e63946;
}

.nav-link{
  margin-left: 3rem;
  font-size: 1.5rem;
  color: #1d3557;
}

.nav-menu i {
  margin-right: 3px;
}

.btn-container{
  display: flex;
  gap: 1rem;
  align-items: center;

}

.nav-btn-container{
  display: flex;
  gap: 1rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px){
  .nav-menu{
    position: absolute;
    top: 5.7rem;
    flex-direction: column;
    width: 100%;
    background-color: #f1faee;
    height: 100vh;
    right: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 9;
    justify-content: flex-start;
    gap: 5rem;
  }

  .nav-menu ul{
    flex-direction: column;
  }

  .nav-menu li{
    margin-top: 5rem;
  }


  .nav-link{
    margin-left: 0;
  }

  .nav-menu.active{
    right: 0;
  }

  .mobile-icon{
    display: block;
    font-size: 2rem;
  }

  .btn-container{
    display: none;
  }

  .mobile-btn-container{
    margin-top: 3rem;
    display: block;
    display: flex;
    gap: 3rem;
  }


}















