.accordian {
  width: 80%;
  margin: auto;
}

.accordian h1 {
  font-size: 3rem;
  font-weight: 100;
}

.icons {
  font-size: 3rem;
  border: 1px solid black;
  padding: 1rem;
  aspect-ratio: 1;
}

.accordian .accordian_question {
  display: flex;
}
