.accordian {
  width: 80%;
  margin: auto;
}

.accordian h1 {
  font-size: 3rem;
  font-weight: 100;
}

.accordian p {
  font-size: 3rem;
}

.accordian_question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(195, 195, 195);
  margin-bottom: 3rem;
}
