.container {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
  justify-content: space-between;
}

.image {
  width: 500px;
}

.image img {
  width: 100%;
}

.agentInfo {
  text-align: center;
}

.agentInfo h1 {
  font-size: 2rem;
}
