.container {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
  justify-content: space-between;
}

.image {
  width: 500px;
}

.image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--boxshadow-medium);
}

.agentInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.agentInfo h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.agentInfo h3 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.agentInfo button {
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }

  .image {
    width: 400px;
  }
}
