.featured-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  background-color: #f1faee;
}

.featured-heading{
  background-color: #f1faee;
  text-align: center;
  font-size: 2.2rem;
  padding: 3rem 0;
  color: #1d3557;
  text-transform: uppercase;

}

.card{
  width: 300px;
  height: 410px;
  display: flex;
  background-color: white;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.5s;
  cursor: pointer;

}

.card:hover{
  transform: translateY(-10px);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}



.card img{
  width: 100%;
}

.card-details{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid rgba(143, 143, 143, 0.322);
}

.card h3{
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #1d3557;
}

.card-location{
  text-align: center;
}

.card-location span{
  color: grey;
}

.card-rating{
  margin-top: 1rem;
}

.card-rating i {
  font-size: 2rem;
  color: #e63946;
  margin-left: 1px;
}

.card-rating span {
  margin-left: 3px;
  font-size: 1.2rem;
  color: grey;
}

.card-location-pricing{
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem
}
.location-info{
  margin-top: 1.5rem;
  color: #1d3557;
  text-align: center;
  padding: 0 2rem;
}


.card-pricing span:nth-child(2){
  color: #e63946;
  font-size: 1.5rem;
  font-weight: bold;
}
.card-pricing span{
  font-size: 1.3rem;
  color: #1d3557;
}

.card-tags{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.6rem;
}


.card-tags span:nth-child(1){
  background-color: #e63946;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

}

.card-tags span:nth-child(2){
  background-color: #457b9d;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

}

.card-tags span:nth-child(3){
  background-color: #a8dadc;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
 
  
}

@media only screen and (min-width:700px) and (max-width:1300px) {
  .featured-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;

    
  }

  .card-featured-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 720px) {
  .featured-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    justify-items: center;
    
  }

  .card-featured-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}